.firebase
.github
.hypothesis
.idea
.venv
.vscode
firebase
htmlcov
.coverage*
.gcloudignore
.git
.gitignore
boot_django.py
cloud_migrate.yml
db.sqlite3
LICENSE
migrate.py
requirements-dev.txt
runapp.py
runtests.py
test_settings.py
*.prof
*.md
*.sh
