/* Navigation bar */
.nav-bar ul {
  display: flex;
  list-style: none;
  border: 1px solid black;
}

.nav-bar li {
  margin: 5px;
}

.nav-bar a {
  background-color: rgb(179 57 81);
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}

.nav-bar a:hover {
  background-color: rgb(66 28 40);
  color: white;
}

/* Main article */
article {
  display: flex;
}

/* Item search */
#item-search {
  position: relative;
  max-width: 300px;
  margin: auto;
}

/* Side bar */
aside {
  border: 1px solid black;
  padding: 1em 1em;
}

#added-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding: 0.2em;
  border: 1px solid black;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#item-list {
  text-align: left;
}

#remove-button {
  padding: 0;
  border: none;
}
