/* Navigation bar */
.nav-bar ul {
    display: flex;
    list-style: none;
    border: 1px solid black;
}

.nav-bar li {
    margin: 5px;
}

.nav-bar a {
  background-color: rgb(179 57 81);
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}

.nav-bar a:hover {
  background-color: rgb(66 28 40);
  color: white;
}

/* Main article */
article {
    display: flex;
}