:root {
  --panel-bg-color: #313031;
  --panel-border-color: #363536;
  --header-bg-color: #242324;
  --font-family: "Titillium Web", sans-serif;
}

/* Common */
.display-panel {
  background-color: var(--panel-bg-color);
  border: 6px solid #403f40;
}

/* Body */
html body {
  background-color: #8e8e8e;
  color: black;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

html.dark-theme body {
  background-color: #1a191a;
  color: #fde4bf;
}

/* Navigation bar */
.nav-bar {
  display: flex;
  background-color: var(--panel-bg-color);
  border: 2px outset var(--panel-border-color);
  align-items: center;
  padding: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  background-color: #121112;
  padding: 2px;
  margin: 8px;
}

.nav-bar li {
  margin: 2px 2px;
}

.nav-bar-item {
  background-color: #8e8e8e;
  color: rgb(29, 28, 29);
  text-decoration: none;
  border: 2px outset grey;
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
}

.nav-bar-item:hover {
  background-color: #e39827;
  border: 2px outset #db9225;
}

.nav-bar-item:active {
  background-color: #f1be64;
  border: 2px outset #60451c;
  color: rgb(28, 28, 28);
}

.text-button {
  position: relative;
  user-select: none;
}

.nav-bar-item:active .text-button {
  top: 2px;
}

.nav-bar a {
  padding: 0.5em 4em;
  display: inline-block;
}

#theme-toggle-container {
  margin-left: auto;
  margin-right: 8px;
  background-color: #121112;
  padding: 4px;
}

#theme-toggle {
  cursor: pointer;
  margin-left: auto;
  padding: 0.5em 4em;
}

/* Main article */
article {
  display: flex;
  background-color: var(--panel-bg-color);
  border: 2px outset var(--panel-border-color);
  margin: 40px;
  width: fit-content;
}

/* Setup section */
section {
  margin-left: 10px;
  min-width: 350px;
}

#setup {
  margin-top: 2px;
  margin-bottom: 6px;
}

/* Item search */
#item-collection-form {
  background-color: var(--header-bg-color);
  padding: 2px 2px;
}

h3 {
  margin-top: auto;
  background-color: var(--header-bg-color);
  border: 2px outset #1b1a1a;
  display: table;
  width: 96%;
  padding: 8px 0;
  padding-left: 10px;
  margin-bottom: 10px;
}

#input-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  max-width: 300px;
  margin: auto;
  row-gap: 10px;
}

#add-item-button {
  margin-left: 10px;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.confirm-button {
  color: rgb(29, 28, 29);
  background-color: #5eb663;
  border: 1px outset #39763c;
}

.confirm-button:hover {
  background-color: #a8eeac;
  border: 1px outset #55d45e;
  color: rgb(29, 28, 29);
  box-shadow: 0 0 10px #55d45e;
}

.confirm-button:active {
  background-color: #cfdf93;
  border: 1px outset #9fa76c;
  color: rgb(28, 28, 28);
  box-shadow: 0 0 0;
  top: 2px;
}

.confirm-button:active .text-button {
  top: 0.2px;
}

#search-error {
  grid-column: 2;
}

input {
  background-color: #9a9a9a;
}

input:focus {
  background-color: #f4e3c4;
}

#user-count-input {
  max-width: 80px;
}

#distribute-button {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
  width: 100px;
}

/* Side bar - Itemlist */
aside {
  padding: 1em 1em;
  margin-top: -34px;
  min-width: 350px;
}

#panel-border {
  background-color: var(--header-bg-color);
  padding: 2px 2px;
}

#item-header {
  margin-bottom: 6px;
}

thead tr {
  background-color: var(--header-bg-color);
  border: 2px outset #1b1a1a;
}

thead th {
  padding: 8px 10px;
}

.display-panel table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
}

table td {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000,
    0px 1px 0 #000;
  padding-left: 10px;
}

.added-item {
  white-space: nowrap;
}

#remove-button {
  padding: 1px 4px;
  border: 1px outset #972725;
  color: rgb(29, 28, 29);
  background-color: #fe5a5a;
}

#remove-button:hover {
  background-color: #ffafaf;
  border: 1px outset #d97575;
  color: rgb(29, 28, 29);
  box-shadow: 0 0 10px #d97575;
}

#remove-button:active {
  background-color: #fca8a8;
  border: 1px outset #8b2b2a;
  color: rgb(28, 28, 28);
  box-shadow: 0 0 0;
}

.remove-data:active .text-button {
  top: 2px;
}
