{% extends "distribute/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block content %}
    <article data-remove-url="{% url "distribute:remove" %}">
        <section>
            <h2 id="setup">Setup</h2>
            <form id="item-collection-form"
                  method="post"
                  data-collection-url="{% url "distribute:collection" %}">
                {% csrf_token %}
                <div class="display-panel">
                    <h3>Add items to distribute</h3>
                    <div id="input-grid">
                        <label for="user-item-input">Item:</label>
                        <input type="text"
                               list="suggestions"
                               name="user-item"
                               id="user-item-input"
                               placeholder="Start typing..."
                               required
                               maxlength="35"
                               pattern="[a-zA-Z0-9_ \(\)\-\.]+"
                               autofocus />
                        <datalist id="suggestions">
                            {% for suggestion in suggestions %}<option value="{{ suggestion }}">{{ suggestion }}</option>{% endfor %}
                        </datalist>
                        <div class="error" id="search-error"></div>
                        <label for="user-count-input">Count:</label>
                        <div>
                            <input type="number"
                                   name="user-count"
                                   id="user-count-input"
                                   required
                                   min="1"
                                   max="100000" />
                            <button id="add-item-button" class="confirm-button" type="submit">
                                <div class="text-button">✔</div>
                            </button>
                        </div>
                        <div class="error" id="count-error"></div>
                    </div>
                </div>
            </form>
            <form id="distribute-form"
                  action="{% url "distribute:distributable" %}"
                  method="post">
                {% csrf_token %}
                <p>
                    <label for="num-silos">Number of available silos:</label>
                    <input type="number"
                           name="num-silos"
                           id="num-silos"
                           required
                           min="1"
                           max="100" />
                </p>
                <p>
                    <button id="distribute-button" class="confirm-button">Distribute</button>
                    <div class="error" id="distribute-error">{{ distribute_error }}</div>
                </p>
            </form>
        </section>
        <aside>
            <h2 id="item-header">Added Items</h2>
            <div id="panel-border">
                <div class="display-panel">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th id="item-th" scope="col">{{ table_headers.0 }}</th>
                                <th id="count-th" scope="col">{{ table_headers.1 }}</th>
                            </tr>
                        </thead>
                        <tbody id="itemlist">
                            {% for item_name, item_count in itemlist.items %}
                                <tr>
                                    <td class="remove-data">
                                        <button id="remove-button"
                                                style="font-size:24px"
                                                data-item-name="{{ item_name }}">
                                            <img class="trash-icon"
                                                 src="{% static "distribute/images/trash.png" %}"
                                                 alt="Remove"
                                                 width="32"
                                                 height="32" />
                                        </button>
                                    </td>
                                    <td class="added-item" scope="row">{{ item_name }}</td>
                                    <td>{{ item_count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <form id="blueprint-form"
              action="{% url "distribute:import" %}"
              method="post">
            {% csrf_token %}
            <h2 id="setup">Import Items From Blueprint</h2>
            <textarea name="blueprint-input"
                      id="blueprint-input"
                      class="blueprint-box"
                      autocapitalize="off"
                      autocomplete="off"
                      autocorrect="off"
                      maxlength="20000"
                      minlength="1"
                      spellcheck="false"
                      wrap="soft"></textarea>
            <div id="paste-import">
                <button id="paste-button" class="nav-bar-item" type="button">
                    <div class="text-button">Paste</div>
                </button>
                <button id="import-button" class="nav-bar-item">
                    <div class="text-button">
                        Import<span class="tooltip">Will reset added items.</span>
                    </div>
                </button>
            </div>
            <div class="error" id="import-error">{{ import_error }}</div>
        </form>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static "distribute/utils.js" %}"></script>
    <script src="{% static "distribute/collection.js" %}"></script>
    <script src="{% static "distribute/remove.js" %}"></script>
    <script src="{% static "distribute/submit.js" %}"></script>
    <script src="{% static "distribute/paste.js" %}"></script>
{% endblock content %}
