{% load static %}
<link rel="stylesheet" href="{% static 'distribute/style.css' %}" />
<!DOCTYPE html>
<html lang="en-US">
    <head data-current-context="{{ request.get_full_path }}">
        <script>
        if (localStorage.getItem("theme") === "dark") {
          document.documentElement.classList.add("dark-theme");
        }
        </script>
        <meta charset="utf-8" />
        <title>Rocket Request</title>
        <meta name="author" content="brufinus" />
        <meta name="description"
              content="Automatic item distribution across Rocket Silos in Factorio." />
        <script src="https://code.jquery.com/jquery-4.0.0.min.js"
                integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
              rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <img src="#" alt="Insert Logo Here" />
            <h1>Rocket Request</h1>
        </header>
        <nav class="nav-bar">
            <ul class="links-list">
                <li>
                    <a class="nav-bar-item" href="{% url "distribute:index" %}">
                        <div class="text-button">Home</div>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-item" href="{% url "distribute:contact" %}">
                        <div class="text-button">Contact</div>
                    </a>
                </li>
                <li>
                    <a class="nav-bar-item" href="{% url "distribute:about" %}">
                        <div class="text-button">About</div>
                    </a>
                </li>
            </ul>
            <div id="theme-toggle-container">
                <div class="nav-bar-item" id="theme-toggle">
                    <div class="text-button">Toggle Theme</div>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="logo-link-box">
                <a href="mailto:brufinus@duck.com"
                   target="_blank"
                   rel="noopener noreferrer">
                    <img class="logo"
                         src="{% static "distribute/images/mail_24dp.svg" %}"
                         alt="Email icon"
                         width="24"
                         height="24" />
                </a>
                <a href="mailto:brufinus@duck.com"
                   target="_blank"
                   rel="noopener noreferrer">brufinus@duck.com</a>
            </div>
            <div class="change-info">Updated: 2026/5/13</div>
            <div class="logo-link-box">
                <a href="https://github.com/brufinus/rocket-request"
                   target="_blank"
                   rel="noopener noreferrer">
                    <img class="logo"
                         src="{% static "distribute/images/gh_invertocat_black_clearspace.svg" %}"
                         alt="GitHub Invertocat Logo"
                         width="128"
                         height="128" />
                </a>
                <a href="https://github.com/brufinus/rocket-request"
                   target="_blank"
                   rel="noopener noreferrer">brufinus/rocket-request</a>
            </div>
            <div class="change-info">RocketRequest v0.0.1</div>
        </footer>
    </body>
    <script src="{% static "distribute/theme.js" %}"></script>
    <script src="{% static "distribute/nav-context.js" %}"></script>
</html>
