{% extends "distribute/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "distribute/style.css" %}" />
{% block content %}
    <article>
        <section>
            <h2>Setup</h2>
            <form id="item-collection-form" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Add items to distribute</legend>
                    <div id="item-search">
                        <label for="user-item-input">Item:</label>
                        <input type="text"
                               list="suggestions"
                               name="user-item"
                               id="user-item-input"
                               placeholder="Start typing..."
                               required
                               maxlength="35" />
                        <datalist id="suggestions">
                            {% for suggestion in suggestions %}<option value="{{ suggestion }}">{{ suggestion }}</option>{% endfor %}
                        </datalist>
                        <div id="search-error"></div>
                    </div>
                    <p>
                        <label for="user-count-input">Count:</label>
                        <input type="number"
                               name="user-count"
                               id="user-count-input"
                               required
                               min="1"
                               max="100000" />
                        <div id="count-error"></div>
                    </p>
                    <p>
                        <button type="submit">Add Item</button>
                    </p>
                </fieldset>
            </form>
            <form action="{% url 'distribute:results' %}" method="post">
                {% csrf_token %}
                <p>
                    <label for="num_silos">Number of available silos:</label>
                    <input type="number"
                           name="num_silos"
                           id="num_silos"
                           required
                           min="1"
                           max="100000" />
                </p>
                <p>
                    <button>Distribute</button>
                </p>
            </form>
        </section>
        <aside>
            <h3>Added Items</h3>
            <div class="added-items-container">
                <p>Item</p>
                <p>Count</p>
                <ul id="item-list">
                    {% for item,count in itemlist.items %}<li id="item">{{ item }}</li>{% endfor %}
                </ul>
                <ul id="count-list">
                    {% for item,count in itemlist.items %}<li id="count">{{ count }}</li>{% endfor %}
                </ul>
            </div>
        </aside>
    </article>
    <script>
        $(document).ready(function () {
            $("#item-collection-form").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    url: "{% url 'distribute:collection' %}",
                    type: "POST",
                    data: {
                        "user-item": $("#user-item-input").val(),
                        "user-count": $("#user-count-input").val(),
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: function (response) {
                        $("#search-error").empty();
                        if (response.itemlist == "Invalid item") {
                            $("#search-error").append("Invalid item");
                            $("#user-item-input").val("");
                            $("#user-item-input").focus();
                        }
                        if (response.itemlist == "Invalid count") {
                            $("#count-error").append("Invalid count");
                            $("#user-count-input").val("");
                            $("#user-count-input").focus();
                        }
                        else {
                            $("#item-list").empty();
                            $("#count-list").empty();
                            for (var itemName in response.itemlist) {
                                $("#item-list").append("<li>" + itemName + "</li>");
                                $("#count-list").append("<li>" + response.itemlist[itemName] + "</li>");
                            }
                            $("#user-item-input").val("");
                            $("#user-item-input").focus();
                        }
                    }
                });
            });
        });
    </script>
{% endblock content %}
