<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>500 Error - Rocket Request - Silo item distribution</title>
    <meta name="author" content="brufinus" />
    <meta name="description" content="Page not found." />
    <meta name="keywords" content="Factorio" />
    <style>
        body {
            background-color: #1a191a;
            color: #fde4bf;
        }

        a {
            color: #7ec8ea;
        }
    </style>
</head>

<body>
    <header>
        <h1>Rocket Request</h1>
    </header>
    <main>
        <h2>Page unavailable</h2>
        <p>Sorry, but the requested page is currently unavailable.</p>
        <a href="/" autofocus>Click here to go back home.</a>
    </main>
</body>

</html>