{% extends "distribute/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
    <section class="info-section">
        <h1>About</h1>
        <div class="info-div">
            <p class="info-panel">
                Rocket Request is a utility tool for the factory automation game,
                <a href="https://factorio.com" target="_blank" rel="noopener noreferrer">Factorio</a>.
                <br>
                It shows how to distribute items across rocket silos, aiming to minimize the number of required launches.
                <br>
                A <a href="https://en.wikipedia.org/wiki/First-fit-decreasing_bin_packing"
    target="_blank"
    rel="noopener noreferrer">first-fit-decreasing</a> algorithm is utilized to calculate this distribution.
            </p>
            <h2>Why?</h2>
            <p class="info-panel">
                When auto-requesting to a space platform, silos always fill up to max capacity on a single item, leading to wasteful launches.
                <br>
                Of course, this is not a concern in a game where resources are nearly unlimited; however, it could be helpful in the early game.
                <br>
                Thus, the intended use of this tool is to show you how to distribute a small number of items amongst
                a small number of silos, so that you can distribute and launch those items manually in-game.
            </p>
            <h2>Blueprint Import/Export</h2>
            <p class="info-panel">
                The import functionality only allows for the import of vanilla items from a blueprint. The field also
                has a maximum length, since it's not intended for the user to distribute an inordinate amount of items.
                <br>
                <br>
                The resulting blueprint string is a book that contains blueprints of requester chests.
                Each chest corresponds to a silo and requests the items distributed to that silo.
                The intended use of this book is to place each chest next to its silo so that
                its contents can be inserted into the silo automatically with an inserter.
            </p>
            <h2>Source</h2>
            <p class="info-panel">
                If you would like to check out or contribute to the source code, it is available on GitHub at
                <a href="https://github.com/brufinus/rocket-request"
                   target="_blank"
                   rel="noopener noreferrer">brufinus/rocket-request</a>.
            </p>
        </div>
    </section>
{% endblock content %}
