{% extends "distribute/base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block content %}
    <section class="info-section">
        <h1>Contact me</h1>
        <h2>Issues</h2>
        <div class="info-div">
            <p class="info-panel-short">
                Find a bug or incorrect data? <a href="#" target="_blank" rel="noopener noreferrer">Open an Issue on GitHub.</a>
            </p>
            <h2>Feedback</h2>
            <p class="info-panel-short">
                Have any feedback or suggestions? <a href="#" target="_blank" rel="noopener noreferrer">Open an Enhancement Request on GitHub.</a>
            </p>
            <h2>Email</h2>
            <p class="info-panel-short">
                Have any other inquiries or comments? <a href="mailto:cash-debit-reword@duck.com"
    target="_blank"
    rel="noopener noreferrer">Send me an email.</a>
            </p>
        </div>
    </section>
{% endblock content %}
